html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
/* wrapper */
#wrapper {
  min-height:100%;
  margin-bottom: -50px;
}
#header {
  width: 100%;
}
#body {
}
#footer {
  position: absolute;
  width:100%;
  background-color: #FFF;
  text-align: center;
  border-top: 1px solid rgba(0,0,0,0.12);
  padding: 15px;
}
#footer,
.push {
height: 50px;
}

/* modals */
.modal-body.modal-img{
  padding: 0px;
}
.portfolio-modal-img{
  width: 100%;
}
.modal-content{
  background-color: transparent;
  border-radius: 2px;
}

.modal-header{
  background-color: #FFF;
  border-radius: 2px 2px 0px 0px;
}
.modal-body{
  background-color: #FFF;
  border-radius: 0px 0px 2px 2px;
}
.modal-footer{
  background-color: transparent;
  border: 0px;
}

/* banner */
.banner{
  background: url('background-banner.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height:100%;
}
/* jumbotron */
.jumbotron{
  background-color: transparent;
}
.jumbotron h1{
  color: #FFF;
  text-shadow: 3px 3px 2px #212121;
  text-transform: uppercase;
  font-weight: bold;
}
.jumbotron h2{
  color: #FFF;
  text-shadow: 3px 3px 2px #212121;
  font-weight: bold;
}
.jumbotron li a{
  color: #FFF;
  cursor: pointer;
  text-shadow: 3px 3px 2px #212121;
}
.jumbotron li a i{
  font-size: 24px;
  padding-left: 5px;
  padding-right: 5px;
}

/* typography */
h3{
  text-transform: uppercase;
  font-weight: bold;
}

hr{
  /* border:none;
height: 20px;
width: 90%;
height: 50px;
margin-top: 0;
border-bottom: 1px solid #FFF;
box-shadow: 0 20px 20px -20px #333;
margin: -50px auto 10px; */
}

/* skills */
.skill{
width: 40%;
height: 20px;
border: 1px solid rgba(0,0,0,0.5);
}
.skill .html5{
  padding-left: 5px;
  background-color: rgba(25, 118, 210,0.42);
  width: 90%;
  height: 100%;
  border-right: 1px solid rgba(0,0,0,0.5);
}
.skill .css3{
  padding-left: 5px;
  background-color: rgba(56, 142, 60,0.42);
  width: 85%;
  height: 100%;
  border-right: 1px solid rgba(0,0,0,0.5);
}
.skill .js{
  padding-left: 5px;
  background-color: rgba(251, 192, 45,0.42);
  width: 5%;
  height: 100%;
  border-right: 1px solid rgba(0,0,0,0.5);
}
.skill .bootstrap{
  padding-left: 5px;
  background-color: rgba(245, 124, 0,0.42);
  width: 85%;
  height: 100%;
  border-right: 1px solid rgba(0,0,0,0.5);
}
.skill .mdl{
  padding-left: 5px;
  background-color: rgba(211, 47, 47,0.42);
  width: 65%;
  height: 100%;
  border-right: 1px solid rgba(0,0,0,0.5);
}
.skill .wp{
  padding-left: 5px;
  background-color: rgba(194, 24, 91,0.42);
  width: 80%;
  height: 100%;
  border-right: 1px solid rgba(0,0,0,0.5);
}
.skill .adobe{
  padding-left: 5px;
  background-color: rgba(81, 45, 168,0.42);
  width: 75%;
  height: 100%;
  border-right: 1px solid rgba(0,0,0,0.5);
}

/* section-collapse */
.section-collapse{
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

/* vertical list */
@media screen and (min-width: 767px) {
  .list-group-item.split-list-item{
  display: flex;
  }
  .split-list-item .list-group-item-heading{
  width: 33%;
  }
  .split-list-item .list-group-item-text{
  width: 66%;
  }
}

/* portfolio */
.portfolio-wrapper{
  border-left: 1px solid rgba(0,0,0,0.12);
  border-right: 1px solid rgba(0,0,0,0.12);
}
.portfolio-img{
  width: 100%;
  margin-bottom: 5px;
  border-left: 1px solid rgba(0,0,0,0.1);
  border-top: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  /*-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  /*filter: grayscale(100%);*/
  -webkit-box-shadow: 2px 2px 1px 0px rgba(50, 50, 50, 0.42);
  -moz-box-shadow:    2px 2px 1px 0px rgba(50, 50, 50, 0.42);
  box-shadow:         2px 2px 1px 0px rgba(50, 50, 50, 0.42);
}
.portfolio-item{
  text-align: center;
  cursor: pointer;
  padding: 15px;
}
.portfolio-item:hover{
  padding:5px;
  padding-top: 15px;
}
.portfolio-img:hover{
  /*max-height: 185px;*/
  /*-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  /*filter: grayscale(0%); */
  -webkit-box-shadow: 5px 5px 3px 0px rgba(50, 50, 50, 0.21);
  -moz-box-shadow:    5px 5px 3px 0px rgba(50, 50, 50, 0.21);
  box-shadow:         5px 5px 3px 0px rgba(50, 50, 50, 0.21);
}
